insa-crm-platform/automation/workflows/5-unsubscribe-sync-mautic-to-erpnext.json
{
  "name": "5. Campaign Unsubscribe: Mautic → ERPNext",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mautic-unsubscribe",
        "options": {
          "responseMode": "onReceived",
          "responseData": "allEntries"
        }
      },
      "name": "Webhook: Mautic Unsubscribe Event",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "id": "webhook-unsubscribe",
      "webhookId": "mautic-unsubscribe-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Extract unsubscribe event data from Mautic webhook\nconst data = $input.first().json;\n\n// Mautic sends different structures for different events\nconst eventType = data['mautic.event_type'] || data.event || 'email.unsubscribe';\nconst contact = data.contact || {};\nconst fields = contact.fields?.all || contact.fields || {};\n\n// Get ERPNext Lead ID from custom field\nconst erpnextLeadId = fields.erpnext_lead_id || fields.erpnext_id || null;\n\n// Extract contact information\nconst email = contact.email || fields.email || data.email || null;\nconst firstName = fields.firstname || contact.firstname || '';\nconst lastName = fields.lastname || contact.lastname || '';\nconst fullName = `${firstName} ${lastName}`.trim() || 'Unknown';\n\n// Determine unsubscribe type\nlet unsubscribeType = 'global';\nlet unsubscribeReason = 'User requested opt-out';\n\nif (eventType.includes('email.unsubscribe')) {\n  unsubscribeType = 'email';\n  unsubscribeReason = 'Email unsubscribe';\n} else if (eventType.includes('dnc.added')) {\n  unsubscribeType = 'do_not_contact';\n  unsubscribeReason = data.reason || 'Added to DNC list';\n}\n\nif (!email) {\n  throw new Error('No email address found in webhook data. Cannot process unsubscribe.');\n}\n\nreturn [{\n  json: {\n    erpnext_lead_id: erpnextLeadId,\n    contact_email: email,\n    contact_name: fullName,\n    mautic_contact_id: contact.id || null,\n    event_type: eventType,\n    unsubscribe_type: unsubscribeType,\n    unsubscribe_reason: unsubscribeReason,\n    unsubscribe_timestamp: new Date().toISOString(),\n    // Track what channels to opt out from\n    email_opt_out: true,\n    marketing_opt_out: unsubscribeType === 'global',\n    dnc_status: unsubscribeType === 'do_not_contact'\n  }\n}];"
      },
      "name": "Parse Unsubscribe Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300],
      "id": "parse-unsubscribe"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.erpnext_lead_id }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Check if ERPNext Lead ID Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300],
      "id": "check-lead-id"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=http://100.100.101.1:9000/api/resource/Lead/{{ $json.erpnext_lead_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "unsubscribed",
              "value": "1"
            },
            {
              "name": "email_opt_out",
              "value": "={{ $json.email_opt_out ? 1 : 0 }}"
            },
            {
              "name": "custom_marketing_opt_out",
              "value": "={{ $json.marketing_opt_out ? 1 : 0 }}"
            },
            {
              "name": "custom_unsubscribe_reason",
              "value": "={{ $json.unsubscribe_reason }}"
            },
            {
              "name": "custom_unsubscribe_date",
              "value": "={{ $json.unsubscribe_timestamp }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Update Lead: Set Unsubscribed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [850, 200],
      "id": "update-lead",
      "credentials": {
        "httpHeaderAuth": {
          "id": "erpnext-api",
          "name": "ERPNext API"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://100.100.101.1:9000/api/resource/Lead?filters=[[\"email_id\",\"=\",\"{{ $('Parse Unsubscribe Data').item.json.contact_email }}\"]]&limit_page_length=1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Search Lead by Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [850, 400],
      "id": "search-lead",
      "credentials": {
        "httpHeaderAuth": {
          "id": "erpnext-api",
          "name": "ERPNext API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract lead from search results\nconst searchResult = $input.first().json;\nconst leads = searchResult.data || [];\n\nif (leads.length === 0) {\n  throw new Error(`No ERPNext lead found for email: ${$('Parse Unsubscribe Data').item.json.contact_email}`);\n}\n\nconst lead = leads[0];\nconst unsubData = $('Parse Unsubscribe Data').item.json;\n\nreturn [{\n  json: {\n    ...unsubData,\n    erpnext_lead_id: lead.name,\n    erpnext_lead_name: lead.lead_name\n  }\n}];"
      },
      "name": "Extract Lead ID from Search",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 400],
      "id": "extract-lead-id"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=http://100.100.101.1:9000/api/resource/Lead/{{ $json.erpnext_lead_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "unsubscribed",
              "value": "1"
            },
            {
              "name": "email_opt_out",
              "value": "={{ $json.email_opt_out ? 1 : 0 }}"
            },
            {
              "name": "custom_marketing_opt_out",
              "value": "={{ $json.marketing_opt_out ? 1 : 0 }}"
            },
            {
              "name": "custom_unsubscribe_reason",
              "value": "={{ $json.unsubscribe_reason }}"
            },
            {
              "name": "custom_unsubscribe_date",
              "value": "={{ $json.unsubscribe_timestamp }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Update Found Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1250, 400],
      "id": "update-found-lead",
      "credentials": {
        "httpHeaderAuth": {
          "id": "erpnext-api",
          "name": "ERPNext API"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll"
      },
      "name": "Merge Update Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [1450, 300],
      "id": "merge-results"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://100.100.101.1:9000/api/resource/Customer?filters=[[\"email_id\",\"=\",\"{{ $('Parse Unsubscribe Data').item.json.contact_email }}\"]]&limit_page_length=1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Check if Customer Exists",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1650, 300],
      "id": "check-customer",
      "credentials": {
        "httpHeaderAuth": {
          "id": "erpnext-api",
          "name": "ERPNext API"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Check if customer exists and update if found\nconst customerResult = $input.first().json;\nconst customers = customerResult.data || [];\nconst unsubData = $('Parse Unsubscribe Data').item.json;\n\nif (customers.length > 0) {\n  const customer = customers[0];\n  return [{\n    json: {\n      ...unsubData,\n      customer_exists: true,\n      customer_id: customer.name,\n      customer_name: customer.customer_name\n    }\n  }];\n} else {\n  return [{\n    json: {\n      ...unsubData,\n      customer_exists: false\n    }\n  }];\n}"
      },
      "name": "Check Customer Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1850, 300],
      "id": "check-customer-result"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.customer_exists }}",
              "value2": true
            }
          ]
        }
      },
      "name": "If Customer Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2050, 300],
      "id": "if-customer-exists"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=http://100.100.101.1:9000/api/resource/Customer/{{ $json.customer_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "unsubscribed",
              "value": "1"
            },
            {
              "name": "email_opt_out",
              "value": "1"
            },
            {
              "name": "custom_marketing_opt_out",
              "value": "={{ $json.marketing_opt_out ? 1 : 0 }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Update Customer: Set Unsubscribed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2250, 200],
      "id": "update-customer",
      "credentials": {
        "httpHeaderAuth": {
          "id": "erpnext-api",
          "name": "ERPNext API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Create comprehensive execution summary\nconst unsubData = $('Parse Unsubscribe Data').item.json;\nconst customerData = $('Check Customer Result').item.json;\n\nlet leadUpdateStatus = 'NOT_FOUND';\nlet customerUpdateStatus = 'NOT_FOUND';\n\n// Check if lead was updated\nif ($('Update Lead: Set Unsubscribed').all().length > 0 || $('Update Found Lead').all().length > 0) {\n  leadUpdateStatus = 'UPDATED';\n}\n\n// Check if customer was updated\nif (customerData.customer_exists && $('Update Customer: Set Unsubscribed').all().length > 0) {\n  customerUpdateStatus = 'UPDATED';\n} else if (customerData.customer_exists) {\n  customerUpdateStatus = 'EXISTS_NOT_UPDATED';\n}\n\nreturn [{\n  json: {\n    workflow: 'Campaign Unsubscribe: Mautic → ERPNext',\n    execution_time: new Date().toISOString(),\n    contact_email: unsubData.contact_email,\n    contact_name: unsubData.contact_name,\n    mautic_contact_id: unsubData.mautic_contact_id,\n    unsubscribe_type: unsubData.unsubscribe_type,\n    unsubscribe_reason: unsubData.unsubscribe_reason,\n    lead_update_status: leadUpdateStatus,\n    customer_update_status: customerUpdateStatus,\n    email_opt_out: unsubData.email_opt_out,\n    marketing_opt_out: unsubData.marketing_opt_out,\n    dnc_status: unsubData.dnc_status,\n    gdpr_compliant: true,\n    status: 'COMPLETED'\n  }\n}];"
      },
      "name": "Log Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2450, 300],
      "id": "log-summary"
    }
  ],
  "connections": {
    "Webhook: Mautic Unsubscribe Event": {
      "main": [
        [
          {
            "node": "Parse Unsubscribe Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Unsubscribe Data": {
      "main": [
        [
          {
            "node": "Check if ERPNext Lead ID Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if ERPNext Lead ID Exists": {
      "main": [
        [
          {
            "node": "Update Lead: Set Unsubscribed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search Lead by Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead: Set Unsubscribed": {
      "main": [
        [
          {
            "node": "Merge Update Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Lead by Email": {
      "main": [
        [
          {
            "node": "Extract Lead ID from Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Lead ID from Search": {
      "main": [
        [
          {
            "node": "Update Found Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Found Lead": {
      "main": [
        [
          {
            "node": "Merge Update Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Update Results": {
      "main": [
        [
          {
            "node": "Check if Customer Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Customer Exists": {
      "main": [
        [
          {
            "node": "Check Customer Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Customer Result": {
      "main": [
        [
          {
            "node": "If Customer Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Customer Exists": {
      "main": [
        [
          {
            "node": "Update Customer: Set Unsubscribed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Customer: Set Unsubscribed": {
      "main": [
        [
          {
            "node": "Log Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "any",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "name": "CRM",
      "id": "crm-tag"
    },
    {
      "name": "Compliance",
      "id": "compliance-tag"
    },
    {
      "name": "GDPR",
      "id": "gdpr-tag"
    },
    {
      "name": "Unsubscribe",
      "id": "unsubscribe-tag"
    },
    {
      "name": "ERPNext",
      "id": "erpnext-tag"
    },
    {
      "name": "Mautic",
      "id": "mautic-tag"
    },
    {
      "name": "Webhook",
      "id": "webhook-tag"
    }
  ],
  "meta": {
    "instanceId": "n8n_mautic_erpnext"
  },
  "pinData": {},
  "versionId": "1",
  "triggerCount": 1,
  "active": false
}
